@charset "UTF-8";
/* CSS Document */

/*
 Theme Name:     redline-child
 Theme URI:      http://contractcars.com/wp-content/themes/redline-child/
 Description:    Redline Child Theme
 Author:         Gareth Healey
 Template:       redline
 Author URI:     http://www.bigmediapresence.com
 Template:       redline-child-cc
 Version:		 1.2.3
*/
 
@import url("../redline/style.css");

@import url("vehicle-tables.css");
 
/* =Theme customization starts here
------------------------------------------------------- */

/* Dark purple: #541a75
  very light purple text:  color: #eed5fd;
   Thornley purple: #ff6600;;
   Navy blue: #00aeef;
   Orange: #ff6600;

*/

/* Typogrpahy styles */

.responsive-tabs h3 {
	font-weight: bold;
}
.responsive-tabs span em  {
	color: #99076d;
}

.archive #vehicle-price-index p.pcd-pricing .pcd-price {
	font-size: 16px;
}

.width-container .content-container-boxed.vehicle-widget #vehicle-price-index p.pcd-pricing .pcd-price,
.content-container-boxed #vehicle-price-index p.pcd-pricing .pcd-price {
	font-size: 28px;
	width: 100%;
}

.width-container .content-container-boxed.vehicle-widget #vehicle-price-index .call_for_price,
.width-container .content-container-boxed.vehicle-index #vehicle-price-index .call_for_price{
	font-size: 18px;
	margin-bottom: 20px;
}

.home .content-container-boxed.vehicle-widget #vehicle-price-index p.pcd-pricing .pcd-price  b  {
	font-size: 14px;
}

.content-container-boxed.vehicle-widget #vehicle-price-index p.pcd-pricing .pcd-price  sup,
.content-container-boxed.vehicle-index #vehicle-price-index p.pcd-pricing .pcd-price  sup{
	font-size: 14px;
}

.home .content-container-boxed.vehicle-widget #vehicle-price-index p.pcd-pricing .pcd-price  p

#main .widget ul.vehicle_listings,
#main .widget ul.vehicle_listings li h4 a,
#main .widget ul.vehicle_listings li.pcd-price b,
#main .widget ul.vehicle_listings li.pcd-price span {
	text-align: center;	
	font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
	text-transform: uppercase;
	color: black;
}

#main .widget ul.vehicle_listings li.pcd-price b {
	display: none;
}

.sidebar_left .vehicle_listings li a.progression-button,
.sidebar_right .vehicle_listings li a.progression-button {
	margin-bottom: 10px;
}

.sidebar_left .wpcf7 textarea {
	padding: 4px!important;
	margin: 1px;
	border: thin solid red!important;
}

#text-9  h3 {
	background-color: #99076d;	
}

.pcd-price {
	font-size: 1.2em;
	font-weight: 700;
}


.vehicle_listing h4 {
	margin-bottom: 0;	
}



.page-template-homepage-php #main .widget h3.title-homepage {
	background-color: #036;
	color: #FFF;
	font-weight: 900;
	text-align: center;
}

.myTable th {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}

body #vehicle-price-index p.pcd-pricing .pcd-price {
	color: #99076d;
}

.middle_content .widget_execphp {
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 769px) {
	.cars_categories #main .vehicle-index a h3.vehicle-entry-title {
		font-size: 17px;
		text-align: center;
	}
	
	.cars_categories #tertiary .vehicle_listing h4 a {
		font-size: 16px;
		
	}
	
	.cars_categories .vehicle_listing {
		width:: 100%;	
	}
	
	#text-9 table a.progression-button {
		padding: 0.5em 1.5em; 
	 }
	 
	 #execphp-5 {
		padding: 1em;
	 }
	 
	#execphp-3 h3 {
		font-weight: bold;
		border-bottom: 0 solid #fff;
	 }
	   
	#execphp-9 h3 {
		text-align: center;
		border: 0 solid #fff;
	}
	
	.content-container-boxed {
		background-color: #f5f5f5;
		margin-bottom: 20px;
	}
	
	#copyright {
		font-size: 0.8em;
	}
		

}	
	
 #execphp-3 h3 {
	font-weight: bold;
	border-bottom: 0 solid #fff;
 }
 

 #main #vehicle-price-index a.green {
	background-color: #35ad65;  
 }
 
  #main #vehicle-price-index a.green:hover {
	  background-color: #000;  
  }
  
  #main .widget-title {
		background-color: #036;
		colour: #dee4f7;
  }	
  
  .wpcf7 input, .wpcf7 textarea {
	  padding: 5;
  }
  
.page-template-page-contact #schema_block .schema_name {
	font-family: "Dosis", Trebuchet MS,Lucida Grande,Lucida Sans Unicode, Sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	border-bottom: 1px solid #999;
	color: #fc7e2e;
}


.page-template-page-contact #schema_block div {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode, Sans-serif;
	color: #CCC;
	
}

.page-template-page-contact .content-container-boxed {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode, Sans-serif;
}

.page-template-page-contact #secondary #text-34 h3 {
	text-align: center;
}


/* End Typogrphy styles */

/* Contact Form CSS */

@media only screen and (min-width: 769px) {
	
	#content-container .content-container-boxed {
		background-color: #fff;
	}
	
	#content-container .wpcf7-form {
	    font-size: 12px;
		color: #000;
		width: 500px;
	}
	
	#content-container .wpcf7-form p {
		margin: 0;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	
	
	#content-container .wpcf7-form .wpcf7-text {
		border-radius: 0;
		padding: 2px;
		width: 150px;
    }
	
	#content-container .wpcf7-form  .wpcf7-select {
		width: 150px;
	}
	
	#content-container .wpcf7-form .wpcf7-textarea {
		height: 70px;	
		width: 300px;
		padding: 4px;
		margin-right: -100px;
    }
	
	#content-container .wpcf7-form .c7_label {
		width: 150px;
		float: left;
	}
	
	.page-template-page-contact #page-title {
		margin-bottom: 25px;
	}
	
	.page-template-page-contact #sidebar,
	.page-id-1012 #sidebar{
		display: none;
	}
	
	#content-container  hr {
		margin: 10px 0;
	}
	#content-container .wpcf7-form .wpcf7-submit {
		float: right;	
	}
	
	.page-template-page-contact #content-container p a {
		margin-left: 150px;
	}
	
	.page-id-1012 .wpcf7-submit {
		margin-top: 20px;	
	}
}

#content-container .wpcf7-form h5 {
	font-size: 13px;
    color: #6fbdd4;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
   }
   
   .page-template-page-contact.entry-content,
   .page-template-page-contact .entry-content p {
	   font-size: 11px;
   }
   
   #content-container  .wpcf7 .wpcf7-text,
   #content-container  .wpcf7 .wpcf7-textarea {
		background-color: #fff;  
		background: none;
		
   }
   
/*End contact form CSS */

/* slider CSS*/

.slider5 .caption1 {
	width: 98%;
	padding: 1em;
	position: absolute;
	z-index: 1998;
	
}



.slider5 .caption1 h3 {
	flex-wrap: wrap;
	font-size: 85%;
	margin-top: 0.5em!important;
	margin-bottom: 0!important;
	display: inline;
	padding: 0.23em 0.4em;
}

.slider5 .caption1 h3,
.slider5  .slider_price {
	margin-bottom: 0!important;
 	line-height: 1.6em;
	display: inline;
}

.slider5  .slider_price {
	font-size: 3.5em;
	font-family: 'Dosis';
	font-weight: bold;
	padding: 0 0.4em;
}



.home #main .slider5 #vehicle-price-index .progression-button {
	font-size: 0.8em;
	padding: 0.5em;
	height: 15px;
}


.home .bx-wrapper .bx-viewport {
	height: 290px!important;
}

.home .bx-wrapper .bx-pager {
	padding-top: 0;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 0!important;
}


@media only screen and (max-width: 487px) {
	.slider5 .caption1 h3  {
		font-size: 0.8em!important;
		margin: 0;
		line-height: 1.7em;
   }
   
   	.slider5  .slider_price  {
		font-size: 1.3em;
		margin: 0;
		line-height: 1.7em;
   }
   
   #main .content_width-container .slider5 #vehicle-price-index .progression-button {
	 float: left;
	 font-size: 0.7em;
	 position: static;
	 max-height: 20px;
	 max-height: 20px;
	 height: 20px;
	 padding: 0!important;
	 margin-right: 5%;
	 padding-top: 5px!important;
	 
   }
   
   .home .bx-wrapper .bx-viewport {
		height: 140px!important;
	}
}

@media only screen and (max-width: 375px) { 
	#main .content_width-container .slider5 #vehicle-price-index .progression-button {
		float: none;
		text-align: centre;
	}
	
	.bx-controls-direction,
	.bx-pager {
		display: none;	
	}
	
	.bx-wrapper {
		margin-bottom: 0!important;	
	}
	
	   .home .bx-wrapper .bx-viewport {
		height: 130px!important;
	}

}


@media only screen and (min-width: 768px) {
	.slider5  #vehicle-price-index {
		position: relative;
		top: 70px;
		left: 20px;	
	}
	
}

.home .bx-wrapper p#vehicle-price-index {
	text-align: center!important;
}

/* END Slider styles */


  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (min-width: 959px) {

	#secondary,
	#main .sidebar_right {
		width: 16%;
		float: left;
		margin-right: 2%;
	}
	
	.middle_content {
		width: 63%;
		margin: 0 auto;
		float: left;
	}
	
	
	#main .sidebar_right {
		float: right;
		margin-left: 1%;
		margin-right: 0;
	}
	
	#car-search-submit {
		position: relative;
		top: 12px;
		background-color: #036;
		border: 2px solid #fff;
	}
	
	.content_width-container {
		margin-top: 10px;
	}
	
	.header_left {
		position: relative;
		top: 1.2em;
	}
	
	#main a.progression-button {
		padding: 10px;
		font-size: 13px;	
	}
	
	.vehicle-widget h3.vehicle-widget-title {
	   min-height: 45px;	
	}
	
	.home .vehicle-widget #vehicle-price-index h6 {
		margin-top: 10px;
	}
	
	.wpcf7-form .wpcf7-submit {
		float: none;
	}
	
	.sidebar_left .wpcf7-text {
		padding: 3px;
		line-height: 1;
		border: thin solid #fff;
	}
	
	.sidebar_left #execphp-7 p .progression-button {
		float: none;
	
}

	.customer_service {
		display: none;	
	}


  }
    /* END - Smaller than standard 960 (devices and browsers) */
  
header nav {
	border: 0 solid #ff6600;
}

.tagline,
.phone_number p {
   float: left;	
   clear: both;
   display: block;
   font-size: 1.1em;
   color: #ffe7d3;
   margin-bottom: 0.01em;
   line-height: 130%;
}


.header_right {
	float: right;
	width: 50%;
	margin-top: -40px;
	position: relative;
	margin-bottom: 0;
}

.social-ico a i {
	background-color: #fff;
	margin-right: 0.3em;
}

#tel_no {
	font-size: 1.5em;
	color: #fff;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: bold;
	line-height: 1;
}

#tel_no strong {
	color: #000;	
}

#tel_no .number {
	color: #000;	
}

.vehicle-search-form {
	border: 2px solid #747576;
	border-radius: 3px;
	display: table;
	width: 100%;
	background-color: #fff;
	background:linear-gradient(to bottom, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)
}

.vehicle-search-form p {
	display: table-cell;
	padding: 1em;
}

#car_dealer_field_make,
#car_dealer_field_model {
	width: 80%;	
}

.vehicle-search-form {
	margin-bottom: 1em;	
}

.page-template-homepage-php #pyre_homepage_media-widget-2 {
	margin-bottom: 0;
}



.customer_service {
  position: absolute;
  right: 0;
  bottom: -108px;
  z-index: 234;
}

.sidebar_left,
.sidebar_right {
	border: thin solid #ddd;
	padding: 1px;
}

#main .sidebar_left .widget,
#main .sidebar_right .widget {
	padding: 1px;
}

#text-9 {
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}


body.home #main #text-9 h3.title-homepage  {
	background-color: transparent;
	text-align: center;
	color: #036;
	margin: 0;
}

#text-9 {
	background: radial-gradient(ellipse at center center , #fff 49%, #dfe1e3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);	
}

#text-9 table {
	text-align: center;
}

#text-9 table a {
	border: 2px solid #fff;
	background-color: #036;
	
}


#text-9 table .progression-button {
	float: none;
	margin: 0 auto!important;	
}

.page-template-homepage-php #main .widget ul.vehicle_listings li h4 a,
#main .widget ul.vehicle_listings li h4 a,
.cars_categories .sidebar-item {
	box-shadow: 0!important;
	border: 0 solid #fff;
}

.sidebar_left .widget-title,
.sidebar_right  .widget-title {
	margin-bottom: 0;
	margin-top: 0;
	TEXT-ALIGN: CENTER;
}


.sidebar_left .widget_text,
.sidebar_right .widget_text {
	margin-bottom: 0;
}
.sidebar_left .widget,
.sidebar_right .widget {
	 box-sizing: border-box;
	 padding: 5px;
}

strike.pcd-price-msrp {
	display: none !important;
}

#sidebar .pcd-price-msrp {
	display: none !important;
}

.#main .sidebar_left .widget ul.vehicle_listings {
	padding-bottom: 0.2em;
}

.sidebar_left, .sidebar_right {
	border: 0 solid #e7e1dd;
}


#main  #text-15 .vehicle_listings {
	margin: 0;	
}

#main  #text-11 .vehicle_listings a {
	background-color: #363636;
}
   
   #main #text-11 .vehicle_listings .progression-button {
	   background-color: #35ad65;
   }

#main .widget ul.vehicle_listings li h4 a {
	border: 0 none yellow;
	text-align: center;
}
.pcd-price,
#vehicle-price-index p.pcd-pricing .pcd-price {
	width: 100%;
}


.wpcf7-form {
  box-sizing: border-box;
  padding: 20px;
}

.sidebar_left .wpcf7-form {
	padding-bottom: 0;
}

.sidebar_left #text-7 .wpcf7-submit {
	margin-left: 20px;
}

.wpcf7 input, #respond input {
	width: 87%;
}


.wpcf7-submit,
.progression-button {
    float: right;	
}

.sidebar_left .wpcf7 .wpcf7-text,
#tertiary  .search-field {
	background: none;
	background-color: #d7d7d7;
}

#tertiary  .search-field {
	margin-top: 1em;
}


#execphp-3 {
	margin-bottom: 0;
}

#execphp-3 .progression-button.button-vehicle-index {
	margin-bottom: 20px;
	margin-right: 15px;
}

 #execphp-3 .progression-button.button-vehicle-index {
	text-align: center;
	float: none;
	margin: 0;
	background-color: #35ad65;
 }

#execphp-3 h3 {
	text-align: center;	
}


#execphp-7 p {
	text-align: center;
	
}


.sidebar_left #execphp-7 .execphpwidget {
	padding: 1.5em;
}

.sidebar_left #execphp-7 .execphpwidget p {
	margin-top: 1em;
	display: block;
}

#execphp-7 p .customerservice {
	display: block;
	clear: both;
	margin: 2em auto;
	float: none;
	
}

#execphp-5 td {
	text-align: center;
}


.opt_in {
	max-width: 100px;
}
  .opt_in input {
     width: 45%;
  
  }

.myTable,
.tablepress_fix  {
	width:100%;
	background-color:#eee;
	border-collapse:collapse;
	margin-top: 1em;
}
	
.tablepress.myTable {
	background-color:#eee;
}
	
.tablepress.myTable tr td {
	background-color:#fff;
}
	
	
.myTable .alt td,
#tablepress_fix .alt td,
.tablepress_fix {
	background-color:#fff;
}
	
.myTable td,
.tablepress tfoot th,
.tablepress thead th,
.tablepress tfoot td,
.tablepress thead td,
.tablepress th,
.tablepress td  {
	padding:5px;border:1px solid #000;
	color: #2b2b2b;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
	
}
body .tablepress tfoot th,
body .tablepress thead th {
	background-color: transparent!important;
	border: thin solid black;
}

.dataTables_paginate,
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.tablepress .sorting::after,
.tablepress caption {
	display: none!important;

}

#tablepress .progression-button {
	text-align: right;	
}


/* corner flash in vehicle exerpts */

.content-container-boxed.vehicle-widget,
.content-container-boxed.vehicle-index {
	position: relative!important;
}

.corner_flash_1,
.corner_flash_2,
.corner_flash_3 {
/* Ashish */
	display: block;
	width: 84px;
	height: 84px;
	/*background: url(images/FLASH-special-offer.png) no-repeat center center;*/
	position: absolute;
	z-index: 232;
	top: -5px;
    left: -5px;
}
  .corner_flash_2 {
	/*  background: url(images/FLASH-special-deal.png) no-repeat center center;*/
  }
  
    .corner_flash_3 {
	 /* background: url(images/FLASH-limited-stock.png) no-repeat center center;*/
  }
  
  
  #main .widget ul.vehicle_listings li h4 a {
	  padding: 0;
	  width: 100%;
  }
  

#tertiary .widget_text .progression-button {
	text-align: center;
	float: none;
}

.grid4column-progression .progression-button {
	margin-right: 0.5em;
}
/* END corner flash in vehicle exerpts */

.cars_categories #text-14 li {
	list-style-type: none;
}

	.cars_categories #tertiary .vehicle_listing h4 a .alignright {
		display: block;	
		clear: both;
		float: none;
		text-align: center;
	}


#menu-vehicles,
#menu-vehicles .menu-item-object-make {
	list-style-type: none;
}

#menu-vehicles .menu-item-object-make a {
	color: #999;
	line-height: 205%;
	border-bottom: 1px solid #ccc;
	width: auto;
	display: block;
	margin-left: -10px;
	font-size: 1em;
}

#menu-vehicles .menu-item-object-make ::before {
    content: "» ";
}


#menu-vehicles .menu-item-object-make a:hover {
	color: #000;
}
	
	
#main .sidebar_left .widget_text,
#main .sidebar_right .widget_text,
#text-9,
#main .widget_nav_menu,
#execphp-3,
#execphp-5,
#execphp-7,
#execphp-11 {
	border: 2px solid #fff;
	background: linear-gradient(to bottom, #fff 50%, #dfe1e3 97%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	
}

#text-9 {
	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(255,255,255,1) 100%);!important;
}

.content-container-boxed.vehicle-widget {
	background: linear-gradient(to bottom, #fff 50%, #dfe1e3 97%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.2);
}

header {
	background: linear-gradient(to bottom, #ff670f 0%,#b75e0b 99%); /* W3C */
}

#execphp-11 .execphpwidget {
	padding: 10px;
	text-align: center;
}
.sidebar_left .wpcf7 p,
.sidebar_left .widget_execphp p {
  text-align: center; 
  margin-bottom: 5px;
}
.sidebar_left #execphp-11 .progression-button {
	float: none;
	background-color: #35ad65;
}

.sidebar_left #execphp-11 {
	padding-bottom: 0;
}

.home .responsive-tabs .responsive-tabs__list__item {
  border: thin solid #999;
  border-bottom: 0 none #fff
}

  #car-search-submit {
  background-color: #036;
  border: 2px solid #fff;
}

a[href^=tel]{
  color:inherit;
  text-decoration:none;
}
	
/*
=============================================== 05. #Mobile (Portrait) ===============================================
*/
/* Iphone 6 plus */
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	body .header_right {
		float: left;
		width: 100%;
		margin: 1em 0;
		display: block;
	}
	
}

/* Iphone 5 Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {
	  header .header_right #tel_no {
		  font-size: 1.4em;
	  }
}

@media only screen and (max-width: 1000px) {
	.header_right .phone_number span {
		display: block!important;
	}
}


@media only screen and (max-width: 767px) {
	#main #text-9 .progression-button {
		min-height: 3em;
	}
	
	footer .grid2column-progression span {
		font-size: 9px;	
		margin-bottom: 3px;
	}
	
	#execphp-5 td	{
		padding: 15px;
	}
	
	#execphp-5 td img {
		width: 110%!important;
	}
	
	#execphp-5 td p {
		font-size: 20px;	
	}
	
	body .header_right {
		float: left;
		width: 100%;
		margin: 1em 0;
	}
	
	header .width-container #tel_no {
		width: 100%;
		margin-left: 0;
	}
	
	header #tel_no a {
		color: black!important;	
	}
	
}

@media only screen and (max-width: 768px) {
	
	  .header_right {
		  float: left;
		  width: 100%;
		  clear:both;
	}
	
	.tagline,
	.header_right .phone_number,
	.header_right .social-ico {
		text-align: center;
		width: 100%;
		float: none;
    }
	
	.customer_service {
		display: none;	
	}
	
	.single-vehicle #secondary {
		float: right;
	}
	
	.content-container-boxed.vehicle-index h3 {
		margin-top: 10px;	
	}
	
	.sidebar_left,
	.sidebar_right .widget.widget_text { /* hides some sidebar items on small devices*/
		display: none;
	}
	
	#main #text-9 .progression-button {
		min-width:1.8em;
		padding: 0.4em;
	}
	
	#car-search-submit {
		position: relative;
		top: 1em;
		right: 1em;
		padding: 0.5em;	
		display: table-cell;
	}
	
	#execphp-5 .execphpwidget {
		padding: 3.7em;
	}
	
	#menu-vehicles {
		font-size: 1.5em;
		text-align: center;
	}
	.header_right {
		float: right;
		width: 50%;
	}
	
	header #tel_no {
		display:block;
		clear: both;
		margin: 0 0 0 1em;
		text-align: center;
		font-size: 1.7em;
		width: 100%;
	}
	
	#execphp-5 td img {
		width: 50%;	
	}
	
	#main .sidebar_right #execphp-5 {
		background: #fff;	
	}
	

	
}

@media only screen and (min-width: 768px) {
	header {	
		background:  url("images/header-bg-IPAD.png") no-repeat  center top;
	}
	
	#logo,
	.tagline {
		visibility: hidden;
	}
	
	#execphp-12 {
	   display: none;
  	}
  	footer .grid2column-progression span {
		display: inline;
	}
	
	footer .grid2column-progression .break3,
	footer .grid2column-progression .break4 {
		display: block;
	}
}


@media only screen and (min-width: 769px) {

	.tax-vehicle-container {
		float: left;
		width: 80%;
	}
	
	.cars_categories #main .sidebar_right {
		Width: 18%;
		float: right;
	}
	.tax-special_offers #main .vehicle_listings,
	.cars_categories #sidebar_right {
		padding-left: 0;
		float: left;
	}
	
	.cars_categories #main .vehicle_listings li {
		list-style-type: none;	
		text-align: center!important;
	}
	
	
	.cars_categories #tertiary .sidebar-divider {
		display: none;
    }
	
	 .cars_categories #vehicle-price-index {
		min-height: 120px;
		margin-top: 0;
		padding-top: 0;
	}
	
	.cars_categories  #tertiary  ul.vehicle_listings {
		padding-left: 0.5em;
	}
	
	#main ul.vehicle_listings .pcd-price {
		box-sizing: border-box;
		padding: 5px;
	}
	
	#main .widget ul.vehicle_listings li {
	width: 100%;
	
    }
	
	#main .widget ul.vehicle_listings li .alignright {
		width: 100%;
		padding: 0;
		margin-left: -2px;
	}
	
	#main #secondary li a.progression-button,
	#main #tertiary li a.progression-button,
	#main #secondary li .wpcf7-submit,
	#main #tertiary .wpcf7-submit {
		text-align: center;	
		float: none;
		background-color: #35ad65;
	}
	
	.cars_categories #tertiary li.vehicle_listing {
		margin-left: -2px;
	}
	
	#tertiary .execphpwidget table {
		text-align: center;
		margin-top: 10px;
	}
	
	.cars_categories #tertiary  .search-field {
		margin-left: 15px;
	}
	
	 #secondary .vehicle_listings p.pcd-pricing,
	 #tertiary .vehicle_listings  p.pcd-pricing {
		 margin-bottom:0;
	 }
	 	#secondary .vehicle_listings p.pcd-pricing span,
	    #tertiary .vehicle_listings  p.pcd-pricing span {
			font-weight: bold!important;
			clear: both;
		}
	 
	 	#execphp-9 a.progression-button {
		float: none;
	}
	
	.home #pyre_homepage_media-widget-2 #vehicle-price-index {
		height: 135px;
		
    }
	
	.content-container-boxed.vehicle-widget {
		border: 2px solid #fff;	
	}
	
	.execphpwidget table {
		margin-left: 0;
		line-height: 1;
	}

	
	.single-vehicle #sidebar .widget li.vehicle_listing img.wp-post-image {
		max-width: 100%!important;
		width: 100%!important;
		float: none;
	}
	
	.single-vehicle #sidebar .widget li.vehicle_listing .vehicle_image {
		width: 100%; 
	}
	
	.middle_content #execphp-6 {
		border: 2px solid #fff;
		margin-bottom: 0;
	}

	.single-vehicle #sidebar .widget li.vehicle_listing .vehicle_image a  {
		width: 100%;
	}
	
	.single-vehicle #sidebar .widget li.vehicle_listing li {
		padding: 0;
		margin: 0;
	}
	

	
	.content-container-boxed.vehicle-widget h3.vehicle-widget-title,
	.content-container-boxed.vehicle-index h3.vehicle-entry-title {
		min-height: 60px;
		margin: 10px 0 0 0;
	}
	
	#main #secondary li.vehicle_listing h4 a,
	#main #tertiary li.vehicle_listing h4 a {
		padding: 0 1em 0 1em;
		width: auto;
		box-sizing: border-box;
		background-color: transparent;
	}
	
	#back-stretch-image {
		background-image: transparent;
	}
	

	.tabcontent p {
		font-size: 12px;
		margin-top: 3px;
		margin-bottom: 3px;

	}
	
	.tabcontent {
		padding-bottom: 20px;
	}
	
	.page-id-1012 #content-container .wpcf7-form {
		width: 200px;
   }
   
   
   #copyright .grid2column-progression {
	   width: 74.5%;
	   
   }
   
   
    #copyright .lastcolumn-progression {
	   width: 20%;
	   
   }
   
   header {	
		background:  url("images/header-bg2.png") no-repeat  center top;
	}
	
	#tel_no {
    	margin-top: 0.1em;
	}
	
	header nav {
		margin-top: -15px;
	}
	 
}




.page-template-page-team-php #main {
    background-color: #fff;
}

.content-container-boxed.vehicle-index {
	padding-top: 0;	
}
  
.home-child-boxes.grid3column-progression {
	display: none;
}

#main .progression-button,
#main #secondary .wpcf7-submit,
#content-container .wpcf7-submit  {
  text-transform: uppercase;
  min-width: 60px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #4adb4a 0%,#008a00 49%,#028900 100%);
  
}


#main #vehicle-price-index .button-vehicle-index,
#main .vehicle_listings  .button-vehicle-index,
#text-9 table .button-vehicle-index {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  min-height: 27px;
  
}

#main .content-container-boxed.vehicle-index {
		font-size: 12px;
		min-width: 20px;
}

.cars_categories #main #vehicle-price-index .button-vehicle-index {
		font-size: 9px;
		min-height: 15px;
		border: thin solid #fff;
		padding: 8px 3px;
		
}

.single-vehicle .myTable  .progression-button {
	font-size: 0.8em!important;
	text-align: center;
	padding: 0.3em
}
   
#vehicle-price-index,
body .content-container-boxed.vehicle-widget h3  {
	text-align: center;
    width: 100%;
}


.bx-wrapper .content-container-boxed #vehicle-price-index p.pcd-pricing,
.bx-wrapper .content-container-boxed .vehicle-widget-title {
	width: 60%;
	float: left;
	min-height: 20px!important;
}

#main .bx-wrapper {
	background-image: none;	
	background-color: transparent;
	border: 0 solid #e7e1dd;
	margin: 0 auto 0;
	margin-bottom: 0;
	box-shadow: none;
}

#main .bx-wrapper .content-container-boxed.vehicle-widget {
	margin-bottom: 0;
}

.bx-wrapper .content-container-boxed .pcd-pricing {
	clear: both;
	display: block;
}

.bx-wrapper  .vehicle-index-widget {
	overflow: hidden;
}


.page-template-page-contact #secondary {
	display: block;
	float: left;
	margin-left: 20px;
	width: auto;
}

.page-template-page-contact #schema_block {
	background-color: #036;	
}

.page-template-page-contact #secondary #execphp-12 {
	display: block!important;
	background-color: #fff;
}
.page-template-page-contact  #secondary .widget {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 1.5em;
	padding: 10px;
}


/* Add icon to home screen prompt */

html #addToHomeScreen {
	z-index:9991;
	width:200px;
	font-size:13px;
	text-align: center;
	padding-top: 80px;
	position: relative;
	margin-bottom: 30px;
	background-color: #eeeeee!important;
	background-image: none!important;
	padding-bottom: 25px;
	border: 1px solid #eb752b!important;

	}
	
	#addToHomeScreen.addToHomeIOS7 {
	-webkit-border-radius:1px !important;
	border:1px solid #eb752b;
	background-color: #eeeeee!important;
	background-image: none!important;
}

#addToHomeScreen.addToHomeWide {
	width:210px;
}
	
/* icon */
#addToHomeScreen .addToHomeTouchIcon {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -28px;
}
	
	


#addToHomeScreen .addToHomeShare {
	background-image:none;
}
	
HTML #addToHomeScreen .addToHomeArrow,
HTML #addToHomeScreen.addToHomeIOS7 .addToHomeArrow  {
	background-color: #eeeeee!important;
	background-image: none!important;
	width:38px; height:38px;
	bottom: -21px;
	left:50%;
	margin-left:-19px;
	border-color:#eb752b!important;
}

/* END dd icon to home screen prompt */

/* Styles for search module - disabled items */

select option[disabled="disabled"] {
    display: none!important;
}
/* Styles for search module - hidden items */


.home .bx-controls { /* Slides the paginator on the slider */
	display: none;	
}