@charset "UTF-8";
/* CSS Document */

.postid-1323 .myTable, /* Porsche Panamera pricing table */
.make-citroen .myTable, /* Citroen tables */ 
.make-peugeot .myTable, /* All peugeots */
.make-nissan .myTable, /* nissan tables */
.model-ibiza .myTable, /* Seat Ibiza tables */
#post-2531 .myTable, /* Merc A180 */ 
#post-2536 .myTable,
#post-2540 .myTable,
.model-range-rover-vogue .myTable,/* Land Rover vogue */
.model-range-rover-autobiography .myTable, /* Land Rover autobiography Discoveries */
.post-952 .myTable, /* Ford Focus */
.post-2655 .myTable, /* Ford Focus */
.post-2731 .myTable,  /* A180 Pre facelift */ 
.model-forfour .myTable, /* ForFour */
.post-2641 .myTable,  /* Range Rover Autobiography */
.model-sportage .myTable /* Kia Sportage */ {
	display: none;	
}


.make-nissan.model-pulsar .myTable, /* nissan pulsar tables */
.body_type-van.make-peugeot .myTable {  /* peugeot */
	display: table;
}

.postid-1323 .tablepress.myTable,
.make-land-rover .tablepress.myTable, /* Range rover tables */
.make-citroen .tablepress.myTable, /* Citroen tables */  
.make-peugeot .tablepress.myTable, /* Peugeot tables */
.make-nissan .tablepress.myTable, /* nissan tables */
.model-ibiza .tablepress.myTable, /* Seat Ibiza tables */
.model-discovery .tablepress.myTable, /* Land Rover Discoveries */
.model-discovery .myTable, /* Land Rover Discoveries */
#post-2531 .tablepress.myTable,
#post-2536 .tablepress.myTable,
#post-2540 .tablepress.myTable,
.model-range-rover-vogue .tablepress.myTable,/* Land Rover vogue */
.model-range-rover-autobiography .tablepress.myTable, /* Land Rover autobiography Discoveries */
.post-952 .tablepress.myTable, /*Ford Focus */
.post-2655 .tablepress.myTable, /*Ford Focus */ 
.post-2731 .tablepress.myTable,  /*A180 Pre Facelift */
.model-forfour .tablepress.myTable, /* ForFour */
.model-sportage .tablepress.myTable /* Kia Sportage */ {
	display: table!important;
}	


.tablepress tr th,
.tablepress tr td {
	border: thin solid black!important;
	text-align: center;
	padding: 5px;
	padding-right: 5px!important;
}
